$color-white: #ffffff
$color-highlight: #00dcf5

body
  background-color: black
  color: white
  font-family: 'Roboto', sans-serif

.numberpad
  width: 600px
  margin: 0 auto
  text-align: center
  user-select: none

.numberpad__number
  width: 200px
  display: inline-block
  cursor: pointer
  opacity: 1
  &:active
    opacity: 0.8

.numberpad__number__text
  font-size: 35px
  color: $color-white

.numberpad__number__text--highlight
  color: $color-highlight

.numberinput
  width: 100%
  background: transparent
  font-size: 50px
  color: $color-white
  outline: none
  border: none
  text-align: center
  margin: 20px 0px 40px 0px
