doctype html
html
  head
    title Phonewords
    link(href='/assets/style.css', rel='stylesheet')
  body
    #app
    script(src='/assets/bundle.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
